*{
    box-sizing: border-box;
}


/*A login*/

button {
    background-color: red;
    width: 50%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.download-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.download-cont button{
    background-color: red;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.patch1{
    border: 3px solid white;
    border-radius: 5px;
    background-color: darkolivegreen;
    color: white;
    padding: 5px;
    font-size: 17px;
    margin: auto;
    width: 85%;
}

.login-reg{
    border-left: 2px solid white;
}

input[type=text],
input[type=password] {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}

.container {
    padding: 25px;
    background-color: gray;
}

.merch-cont {
    display: flex;
}

.abou-cont{
    background-color: darkolivegreen;
    border: 3px solid white;
    margin: auto;
    width: 85%;
    padding: 5px;
    border-radius: 5px;
}

.jumping-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.jumping-links{
    text-decoration: none;
    color: white;
    font-size: 23px;
    background-color: #333;
    margin-left: 15px;
    width: 200px;
    text-align: center;
    border: 3px solid white;
    border-radius: 10px;
}

.Artipoint {
    border: 2px solid whitesmoke;
    background-color: darkolivegreen;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.Artipoint a {
    font-size: 20px;
    color: #f2f2f2;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: gray;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: white;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

body {
    background-image: url("../Pics/nagyhatter.png");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-areas:
    " h h h "
    " n n n "
    " a a a"
    " f f f ";
    border: 2px solid white;
}

header {
    background-image: url("../Pics/Háttér.jpeg");
    grid-area: h;
    /* border: 1px solid white; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    padding-left: 15px;
}

nav {
    grid-area: n;
    /* border: 1px solid white; */
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: red;
    color: white;
}

article {
    grid-area: a;
    width: 100%;
    display: grid;
    padding: 5px;
}

footer {
    grid-area: f;
    /* border: 1px solid white; */
    background-color: #333;
    text-align: center;
}

.report{
    width: 300px;
    margin: auto;
}

/* nav,
article,
header,
footer {
    border: groove white 1px;
} */

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

/* .img {
    width: 200px;
    height: auto;
    margin: 4px;
    border: 5px dashed cyan;
    border-radius: 50%;
    float: right;
    overflow: hidden;
} */

@media screen and (max-width: 1230px) {
    main {
        width: 100%;
        display: grid;
        grid-template-areas: "h" "n" "a" "f";
    }
}

@media screen and (max-width: 800px) {
    main {
        width: 100%;
        display: grid;
        grid-template-areas: "h" "n" "a" "f";
        grid-template-columns: auto;
    }
}